html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

canvas {
  transform: scale(2);
  background-color: #52c0a7;
}

/* Bali Colors: 
- orange #d44601
- red #5c0d09
- dark green #177263
- light green #52c0a7
- brown #dbc6ae

